<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Boost Hub</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div>
        <h3>Increase Your Followers</h3>
        <p>Login with your social media account to get started</p>
        <button class="btn fb" id="fb">Login with Facebook</button>
        <button class="btn x" id="x">Login with X (Twitter)</button>
        <button class="btn ig" id="ig">Login with Instagram</button>
        </div>
    </div>
    <script src="../static/scripts/script.js"></script>
</body>
</html>